[Desktop Entry]
Name=System Information
Comment=Troubleshoot problems
Comment[am]=ችግር ፈልጎ ማግኛ
Comment[ar]=استكشاف الأخطاء وإصلاحها
Comment[ast]=Iguar problemes
Comment[az]=Çətinlikləri aradan qaldır
Comment[be]=Выпраўленне непаладак
Comment[bg]=Отстраняване на проблеми
Comment[bn]=সমস্যার সমাধান বের করুন
Comment[ca]=Resoleu els problemes
Comment[ca@valencia]=Solucionar problemes
Comment[cs]=Řešení problémů
Comment[cy]=Anawsterau datrys problemau
Comment[da]=Fejlfinding af problemer
Comment[de]=Probleme lösen
Comment[el]=Αντιμετώπιση προβλημάτων
Comment[eo]=Solvendaj problemoj
Comment[es]=Solucionar problemas
Comment[et]=Vigadele lahenduste otsimine
Comment[eu]=Konpondu arazoak
Comment[fa]=عیب‌یابی مشکلات
Comment[fi]=Ongelmien vianmääritys
Comment[fr]=Dépannage des problèmes
Comment[fr_CA]=Dépannage des problèmes
Comment[he]=פתרון בעיות
Comment[hi]=समस्याओं का निवारण करें
Comment[hr]=Otklanjanje problema
Comment[hu]=Hibaelhárítás
Comment[ia]=Resolution de problemas
Comment[id]=Memecahkan masalah
Comment[ie]=Diagnosar problemas
Comment[is]=Leysa vandamál
Comment[it]=Risoluzione dei problemi
Comment[ja]=問題のトラブルシューティング
Comment[ka]=პრობლემების გადაწყვეტა
Comment[kab]=Aseggem n wuguren
Comment[ko]=문제 해결
Comment[la]=Problemata investiga
Comment[lt]=Lokalizuoti gedimus
Comment[ms]=Selesaikan masalah
Comment[nb]=Feilsøk problemer
Comment[ne]=समस्याहरू निवारण गर्नुहोस्
Comment[nl]=Problemen analyseren
Comment[oc]=Reparacion dels problèmas
Comment[pl]=Rozwiązywanie problemów
Comment[pt]=Resolução de problemas
Comment[pt_BR]=Solução de problemas
Comment[ro]=Depanare probleme
Comment[ru]=Решение проблем
Comment[sc]=Solutzione de problemas
Comment[sk]=Vyhladať poruchy-problémy
Comment[sl]=Reševanje težav
Comment[sr]=Отклањање проблема
Comment[sr@latin]=Rešavanje problema
Comment[sv]=Felsök problem
Comment[te]=సమస్యలను పరిష్కరించు
Comment[th]=แก้ไขปัญหา
Comment[tr]=Sorunları giderme
Comment[uk]=Виправлення проблем
Comment[uz]=Muammolarni bartaraf qilish
Comment[vi]=Xử lý các vấn đề
Comment[zh_CN]=诊断问题
Comment[zh_HK]=疑難排解
Comment[zh_TW]=疑難排解
Exec=mintreport-tray
Icon=mintreport
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
NoDisplay=true
