[Desktop Entry]
Name=System Reports
Name[am]=የ ስርአት መግለጫ
Name[bg]=Системен отчет
Name[ca]=Informes del sistema
Name[ca@valencia]=Informes del sistema
Name[cs]=Systémová hlášení
Name[da]=Systemrapporter
Name[de]=Systemberichte
Name[es]=Informes del sistema
Name[eu]=Sistemaren txostenak
Name[fi]=Järjestelmäraportit
Name[fr]=Rapports système
Name[fr_CA]=Rapports système
Name[hi]=सिस्टम रिपोर्ट
Name[hr]=Izvještaji sustava
Name[hu]=Hibajelentő
Name[ia]=Reportos de systema
Name[is]=Kerfisskýrslur
Name[it]=Rapporti di Sistema
Name[kab]=Assaɣen n unagraw
Name[ko]=민트 리포트
Name[lt]=Sistemos pranešimai
Name[nl]=Systeemrapporten
Name[pl]=Raporty systemowe
Name[pt]=Relatórios do Sistema
Name[pt_BR]=Relatórios do Sistema
Name[pt_PT]=Relatórios do Sistema
Name[ro]=Rapoarte de sistem
Name[ru]=Отчёты о системе
Name[sk]=Systémové hlásenia
Name[sr]=Системски извештаји
Name[sr@latin]=Системски извештаји
Name[sv]=Systemrapporter
Name[tr]=Sistem Raporları
Name[uk]=Системні звіти
Name[vi]=Báo cáo hệ thống
Name[zh_CN]=系统报告
Comment=Troubleshoot problems
Comment[am]=ችግር ፈልጎ ማግኛ
Comment[bg]=Отстраняване на проблеми
Comment[ca]=Resoleu els problemes
Comment[ca@valencia]=Resoleu els problemes
Comment[cs]=Řešení problémů
Comment[da]=Fejlfinding af problemer
Comment[de]=Probleme lösen
Comment[es]=Solucionar problemas
Comment[eu]=Konpondu arazoak
Comment[fr]=Dépannage de problèmes
Comment[fr_CA]=Dépannage de problèmes
Comment[hi]=समस्याओं का निवारण करें
Comment[hr]=Otklanjanje problema
Comment[hu]=Hibaelhárítás
Comment[ia]=Problemas de chassa al errores
Comment[is]=Leysa vandamál
Comment[it]=Risoluzione dei problemi
Comment[ko]=문제 해결
Comment[lt]=Lokalizuoti gedimus
Comment[nl]=Problemen analyseren
Comment[pl]=Rozwiązywanie problemów
Comment[pt]=Solução de problemas
Comment[pt_BR]=Solução de problemas
Comment[pt_PT]=Solução de problemas
Comment[ro]=Remediază probleme
Comment[ru]=Решение проблем
Comment[sk]=Vyhladať poruchy-problémy
Comment[sr]=Одклањање проблема
Comment[sr@latin]=Одклањање проблема
Comment[sv]=Felsök problem
Comment[tr]=Sorunları giderme
Comment[uk]=Виправлення неполадок
Comment[vi]=Xử lý các vấn đề
Comment[zh_CN]=诊断问题
Exec=mintreport
Icon=mintreport
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
NotShowIn=KDE;
