body {
	background-color: #ffffff;
	color: #3c3c3c;
	font-size: 0.8em;
}

code {
	background:#eff0f1;
	color: #3c3c3c;
	padding:6px;
	margin: 6px;
	width: 100%;
	font-family: monospace;
	font-weight: bold;
}
