[Desktop Entry]
Name=System Reports
Comment=Troubleshoot problems
GenericName=Troubleshooting Tool
Exec=mintreport
Icon=mintreport
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Qt;KDE;Settings;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
