Source: mintreport
Section: admin
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mintreport
Architecture: all
Depends: python3,
         python3-gi,
         mint-common,
         apport,
         ${misc:Depends},
Description: Troubleshooting tool for Linux Mint
 Reports issues and important information about the operating system.
